---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/layout.astro";
import BlogHeader from "../../../components/ui/blogHeader";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  return allPosts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();

const title = post.data.title || "";
const description = "";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" shivam " />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{title}</title>
</head>
<Layout>
  <div class="flex flex-col font-normal gap-4 max-sm:gap-3 w-full h-full">
   <BlogHeader
      header={post.data.title}
      updated={post.data.updated?.toString() === "" ? false : true}
      date={post.data.updated?.toString() === ""
        ? post.data?.published
        : post.data?.updated}
    />
    <div class="text-lg text-justify border border-white/10 p-3 text-white/50 hover:border-white/20 transition-colors duration-200"><Content /></div>
    <a
    href="/more"
    class="left-0 w-full h-8 flex items-end justify-end text-lg hover:text-white transition  duration-500 text-opacity-90 hover:cursor-pointer"
  >
    ← back
  </a>
  </div>
</Layout>
