---
import Layout from "../layouts/layout.astro";
import {code_projects} from "../data";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(relativeTime);

const siteTitle = "shivam";
const description = "don't know what to write here";

const allCodePosts = await getCollection('posts', ({data}) => {
	return 	data.tags.includes("code")
});

const sortedCodePosts = allCodePosts.sort((a, b) => {
  if (a.data.published > b.data.published) {
    return -1;
  } else {
    return 1;
  }
});


---

<head>
  <script
    defer
    is:inline
    src="https://cloud.umami.is/script.js"
    data-website-id="50047cd7-0f24-4458-900a-a1c99a60782e"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" shivam " />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{siteTitle}</title>
</head>

<Layout title="shivam">
  <div class="h-full w-full flex flex-col gap-3 ">
    <div class="text-lg">hi, i'm shivam. i build. </div>

    <div class="flex text-lg max-sm:text-lg w-full flex-col gap-2">
      <div class="text-lg text-black/80 ">blogs</div>
      <div class="flex flex-col text-lg w-full ">
        {
        sortedCodePosts.map((post) => (
          <div class="flex items-center hover:cursor-pointer group justify-between">
          <a
            href={`blogs/posts/${post.slug}`}
            class="  group-hover:text-black/80  transition duration-500  "
          >
            {post.data.title}
          </a>
          <div class="font-light font-serif text-lg">
            {dayjs(post.data.published).format("MMMM D, YYYY")}
          </div>
          </div>
        ))
        }
      </div>
      </div> 

    <!-- can use them #A3C9A8, #89A894, #C48793, #948BBE, #7A9E9F -->
    <div class="text-lg max-sm:text-base flex flex-col gap-2">
      <span class="text-lg text-black/80 flex">code </span>
      {code_projects.map((project) => (
        <div class="flex gap-4 items-center hover:cursor-pointer transition duration-300">
          <div class="flex ">
            <span class=" group-hover:text-black/80 transition duration-300 max-sm:text-lg text-lg">
              {project.project_name}
            </span>
          </div>

          <div class="flex gap-3 ">
            {Object.entries(project.link).map(([key, value]) => (
              <a
                href={value}
                class="hover:text-black/80 text-lg transition duration-300 max-sm:text-lg hover:text-opacity-100 underline-offset-2"
                target="_blank"
              >
                {key} ↗
              </a>
            ))}
           {project.docs &&  <a
              href={project.docs}
              class="hover:text-black/80 text-lg max-sm:text-lg transition duration-300 hover:text-opacity-100 underline-offset-2"
              target="_blank"
            >
              docs ↗
            </a>}
            {project.live_link &&  <a
              href={project?.live_link}
              class="hover:text-black/80 text-lg max-sm:text-lg transition duration-300 hover:text-opacity-100 underline-offset-2"
              target="_blank"
            >
              live ↗
            </a>}
          </div>
        </div>
      ))}
    </div>
</Layout>


    