---
import Layout from "../layouts/layout.astro";
import {code_projects} from "../data";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import {updates} from "../data";

dayjs.extend(relativeTime);

const siteTitle = "shivam";
const description = "don't know what to write here";

---

<head>
  <script 
  defer 
  is:inline
  src="https://assets.onedollarstats.com/stonks.js"
 ></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" shivam " />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{siteTitle}</title>
</head>

<Layout title="shivam">
  <div class="space-y-4">
    <section class="pt-2 transition gap-2 duration-500">
      <div class=" text-lg text-white/50 ">
        hi shivam here.
      </div>
    </section>

    <section class=" transition duration-500">
        <div class="text-lg mb-3 text-white/60">stuff i built</div> 

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
        {code_projects.map((project) => (
          <div class="transition-colors duration-200 border border-white/20  p-3">
            <div class="flex items-center justify-between">
              <span class="text-base md:text-lg font-medium text-white/50">
                {project.project_name}
              </span> 
              <div class="flex flex-wrap gap-3">
                <a
                  href={project.github}
                  class="text-white/30  hover:text-white/80 transition duration-500"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label={`GitHub link for ${project.project_name}`}
                >
                  github
                </a>
              </div>
            </div>
          </div>
        ))}
      </div>
    </section>

    <section class=" transition duration-500">

      <div class="text-lg mb-3 text-white/60">updates</div> 

      {updates.map((update: any) => (
        <div class="text-white/50">{update.description}</div>
      ))}
     </section>
  </div>
</Layout>
