---
import { socials } from "../data";
import Layout from "../layouts/layout.astro";

const siteTitle = "shivam";
const description = "don't know what to write here";
---

<head>
  <script
    defer
    is:inline
    src="https://cloud.umami.is/script.js"
    data-website-id="50047cd7-0f24-4458-900a-a1c99a60782e"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" shivam " />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{siteTitle}</title>
</head>

<Layout title="shivam">
  <div class="h-full w-full flex flex-col gap-4">
    <div class="flex flex-col gap-2 w-auto items-start">
      <div class="text-2xl text-white text-opacity-85">links</div>
      <div
        class="gap-3 max-sm:gap-3 max-sm:flex-col md:text-xl lg:text-xl xl:text-xl flex"
      >
        {
          socials?.map((x) => (
            <a
              href={x?.link}
              target="_blank"
              class={`flex text-xl transition duration-500 hover:text-blue-500 `}
            >
              {x.title}
            </a>
          ))
        }
      </div>
    </div>
    <a
      href="/cinema"
      data-umami-event="cinema-clicked"
      data-astro-prefetch
      class="fixed bottom-4 right-4 text-5xl max-sm:text-3xl p-2 hover:cursor-pointer transition duration-300"
    >
      .
    </a>
  </div>
</Layout>
