---
import Layout from "../layouts/layout.astro";

import { getCollection } from "astro:content";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(relativeTime);

const allMorePosts = await getCollection('posts', ({data}) => {
	return 	data.tags.includes("cinema")
});

const sortedPosts = allMorePosts.sort((a, b) => {
  if (a.data.published > b.data.published) {
    return -1;
  } else {
    return 1;
  }
});

const siteTitle = "cinema";
const description = "suggest some great cinema";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" shivam " />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{siteTitle}</title>
</head>

<Layout>
  <div class="space-y-2">
    <section class="">
      <a href="/cinema" class="inline-block w-full mb-4 p-3 transition-colors duration-200">
        <h2 class="text-xl md:text-2xl text-black/80 hover:text-black transition-colors duration-200">
          /cinema
        </h2>
        <p class="text-base md:text-lg text-black/40 mt-1">movies, anime and songs.</p>
      </a>
    </section>

    <section class="p-3 transition-colors duration-200">
      <h2 class="text-xl md:text-2xl mb-4 text-black/80">writings</h2>
      <div class="space-y-1">
        {
          sortedPosts.map((post) => (
            <div class="flex items-center justify-between group">
              <a
                href={`blogs/posts/${post.slug}`}
                class="text-base md:text-lg text-black/40 group-hover:text-black/70 transition-colors duration-200"
              >
                {post.data.title}
              </a>
              <div class="text-black/30 text-sm md:text-base">
                {dayjs(post.data.published).format("MMMM D, YYYY")}
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
