---
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(relativeTime);

const siteTitle = "blogs";
const description = "blogs written by me on different things i like";

const allPosts = await getCollection("posts");

const sortedPosts = allPosts.sort((a, b) => {
  if (a.data.published > b.data.published) {
    return -1;
  } else {
    return 1;
  }
});
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" shivam " />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{siteTitle}</title>
</head>

<Layout>
  <div class="flex text-xl w-full">
    <div class="flex flex-col w-full gap-2">
      {
        sortedPosts.map((post) => (
          <div class="flex items-center justify-between">
            <a
              href={`blogs/posts/${post.slug}`}
              class=" hover:text-blue-600 transition duration-500 font-medium tracking-normal"
            >
              {post.data.title}
            </a>
            <div class="">
              {post.data.updated?.toString() === "" ? "" : "up."}
              {dayjs().to(
                dayjs(
                  post.data.updated?.toString() === ""
                    ? post.data?.published
                    : post.data?.updated
                )
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
