---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/footer";
import '@fontsource/instrument-serif';
import { TopNav } from "../components/topnav";

const pathname = Astro.url.pathname;

const siteTitle = "shivam";
const description = "don't know what to write here";
---

<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta property="twitter:title" content=" shivam " />
    <meta
      name="twitter:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@shivamhwp" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="shivam.ing" />
    <meta property="og:url" content="https://www.shivam.ing" />
    <meta
      property="og:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <title>{siteTitle}</title>
    <ClientRouter />
  </head>

  <body
    class="bg-black gap-8 flex-col max-sm:gap-8 pt-8 max-sm:pt-4 max-sm:px-4 md:px-16 lg:px-48 xl:px-96 2xl:px-96 h-screen w-screen  text-white text-opacity-50 flex max-sm:flex-col selection:bg-red-600 selection:text-black overflow-auto"
  >
    <div
      class="flex flex-col h-full w-full max-sm:px-2 2xl:px-24 lg:px-0 md:px-0 relative z-10 [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
    >
      <TopNav pathname={pathname}/>
      <slot />
      {pathname === "/" && <Footer />}
    </div>
  </body>
</html>
