---
import { ClientRouter } from "astro:transitions";
import { TopNav } from "../topnav";
import "@fontsource/dm-serif-text";

const pathname = Astro.url.pathname;

const siteTitle = "shivam";
const description = "don't know what to write here";
---

<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta property="twitter:title" content=" shivam " />
    <meta
      name="twitter:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@shivamhwp" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="shivam.ing" />
    <meta property="og:url" content="https://www.shivam.ing" />
    <meta
      property="og:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <title>{siteTitle}</title>
    <ClientRouter />
  </head>

  <body
    class="bg-black gap-8 flex-col max-sm:gap-8 text-opacity-45 pt-12 max-sm:pt-4 max-sm:px-4 md:px-16 lg:px-48 xl:px-72 2xl:px-96 h-screen w-screen fixed text-white flex max-sm:flex-col selection:bg-white/90 selection:text-black"
  >
    <div
      class="flex flex-col px-28 max-sm:px-4 overflow-y-scroll [-ms-overflow-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden gap-8"
    >
      <TopNav pathname={pathname} />
      <slot class="" />
    </div>
  </body>
</html>
