---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/ui/footer";
import '@fontsource/instrument-serif';
import { TopNav } from "../components/ui/topnav";

const pathname = Astro.url.pathname;

const siteTitle = "shivam";
const description = "don't know what to write here";
---

<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta property="twitter:title" content=" shivam " />
    <meta
      name="twitter:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@shivamhwp" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="shivam.ing" />
    <meta property="og:url" content="https://www.shivam.ing" />
    <meta
      property="og:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <title>{siteTitle}</title>
    <ClientRouter />
    <style>
      ::selection {
        background-color: rgba(255, 255, 255, 0.1);
      }
    </style>
  </head>

  <body
    class="bg-black text-white min-h-screen w-full overflow-x-hidden"
  >
    <div
      class="mx-auto max-w-2xl px-4 pt-6 max-sm:pt-3 pb-10 flex flex-col min-h-screen"
    >
      <TopNav pathname={pathname}/>
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
