---
import { ClientRouter } from "astro:transitions";
import { TopNav } from "../topnav";

const pathname = Astro.url.pathname;

const siteTitle = "shivam";
const description = "don't know what to write here";
---

<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta property="twitter:title" content=" shivam " />
    <meta
      name="twitter:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@shivamhwp" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="shivam.ing" />
    <meta property="og:url" content="https://www.shivam.ing" />
    <meta
      property="og:image"
      content="https://shivam.ing/images/og-image.png"
    />
    <title>{siteTitle}</title>
    <ClientRouter />
  </head>
  <body
    class="bg-black gap-24 max-sm:gap-8 md:pt-12 lg:pt-12 xl:pt-12 text-opacity-45 2xl:pt-12 max-sm:px-4 md:px-24 lg:px-64 xl:px-96 2xl:px-96 h-screen w-screen fixed text-white flex max-sm:flex-col selection:bg-white/90 selection:text-black/70"
  >
    <div
      class="flex gap-20 max-sm:gap-4 max-sm:flex-col pt-40 max-sm:pt-0 w-full h-full"
    >
      <TopNav pathname={pathname} />
      <slot />
    </div>
  </body>
</html>
